.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4.modal-title
    我的订单
.modal-body
  .container-fluid
    .row
      .col-md-12
        .form-group
          .col-md-3
            %input.form-control{'ng-model' => 'order.uid', 'placeholder' => '订单号'}
    .row
      .col-md-12
        .featured-boxes
          .table-responsive
            %table.table.table-striped.order-index
              %thead
                %tr
                  %th 订单号
                  %th 状态
                  %th 金额
                  %th 创建时间
              %tbody
                %tr{'ng-repeat' => 'o in orders | ordersPriceToInt | ordersByUid:order.uid', 'ng-cloak' => ''}
                  %td
                    %strong
                      %a{href: '#/orders/{{o.uid}}', 'ng-click' => 'reloadModal()'}
                        {{o.uid}}
                  %td.status
                    %a{'ng-href' => '{{o.payment_url}}', target: '_blank', title: '支付宝支付', 'ng-if' => 'o.status == "等待支付"'} {{o.status}}
                    %span{'ng-if' => 'o.status != "等待支付"'} {{o.status}}
                  %td
                    ¥{{o.price}}
                  %td
                    {{o.created_at}}
