%ul.nav.nav-sidebar
  %li
    %a{:href => "/management/orders"} 所有
  %li
    %a{:href => "/management/orders?utf8=✓&uid=&status=PAID"} 待发货
  %li
    %a{:href => "/management/orders?utf8=✓&uid=&status=AFTER_SALE_REQUESTED"} 售后
