%section.page-header
  .container
    .row
      .col-md-12
        %ul.breadcrumb
          %li
            %a{:href => "#"} 主页
          %li.active 关于我们
    .row
      .col-md-12
        %h1 关于我们
.container
  .row
    .col-md-12
      %h3.heading-primary
        %strong 我们
        是谁
    .col-md-8
      %p
        上海茵朗信息科技有限公司是由多位英国名校毕业的海归留学生创立的，以互联网为依托，致力于提供出国留学考试培训，以及出国留学方向规划咨询的公司。公司通过前期的不断努力，已经形成了较为成熟的商业模式和相当的社交平台影响力。目前我们的“雅思小助手”淘宝网店开业一年半已累计服务超过3万名考生，占据较高市场份额，根据我们对全国32个考点的长期跟踪统计，每10个雅思考生当中就有1人使用过“雅思小助手”产品；同名新浪微博、微信公众平台拥有接近2.5万人的关注量，并以每月15%的速度持续增长。
      %p
        雅思小助手项目是上海茵朗信息科技有限公司的主打产品，团队现包括创始人马长健在内，包括多名核心成员，成员中有资深雅思教育培训人才、客户管理人才、网站开发设计人才和优秀产品经理、市场营销人员。
      %p
        项目旨开发网站、微信、APP多个终端，为用户开发留学英语在线学习备考新模式，为培训服务的供应商提供首个英语培训领域的专业化垂直电商平台。我们的产品和服务主要包括以下几个方面：

      %ol
        %li 仿真设计口语话题练习平台，免费开启自主练习、重点练习、模拟考试三类模式，答题过程生成录音，并链接原创预测范文购买；
        %li 分享答题录音到交互社区，收获其他用户及社区入住专家点评打分，寻找雅思考试考友共同练习进步；
        %li 开放透明的雅思（后期将延伸至其他留学教育产品）培训资源、服务平台，外来入住培训师和网站自营培训服务同台竞争，在专业有效的评价机制下为用户提供更多选择。

      %p
        公司成立于2014年8月，之前一直以电商平台为载体开展雅思题库备考业务，一年半时间内成长为业内最为知名的雅思学习产品，市场占有率达10%，累计服务考生超过万名，形成了非常成熟的盈利模式。目前，公司致力于向多终端的在线英语培训平台转变，已经拿到顶级外资VC的百万投资意向。公司位于大学路创智天地，周边环境宜人，紧邻五角场商圈，距离10号线地铁站不超过5分钟步行路程，交通便利。我司目前着力扩大团队，锐意开拓亿级英语培训市场，希望能找到志同道合的创业者一起奋斗。

    .col-md-4
      %a.img-thumbnail.lightbox{"data-plugin-options" => "{\"type\":\"image\"}", :href => "/img/about/office.jpg", :title => "公司环境"}
        %img.img-responsive{:src => "/img/about/office.jpg"}/
