<p>您好 <%= @resource.email %>!</p>

<p>有人发起一个申请修改密码。您可以通过以下链接进行操作。</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有申请该操作，请忽略这封邮件。</p>
<p>您的密码将不会更改，除非您通过该链接创建一个新的。</p>
